
<div id="frame-left">
	</div>

	<div id="frame-right">
		<div id="frametext-right">
			<h1>History</h1>
			<p> 
				The first known textual description of lucid dreaming dates to before 1000 BCE from the Upanishads, the Hindu oral tradition of spiritual lessons, philosophy and proverbs. The Vigyan Bhairav Tantra is another ancient Hindu tract that describes how best to direct consciousness within the dream and vision states of sleep. In the early centuries, Indian influence spread to the mountainous region of Tibet, where the animistic tradition of Bonpo maintains that lucid dreaming has been used in their meditations for over 12000 years.
			 </p>
			
			<hr>

			<h1>Techniques</h1>
			<p> 
			WILD(Wake Induced Lucid Dream)...<br>
			<br>
			...MILD(Mnemonic Iduced Lucid Dream)<br>
			<br>
			WBTB (Wake Back to Bed)...<br>
			<br>
			<strong>Tip: To maintain lucidity and regain focus, stimulate the senses. Licking objects, rubbing your hands, and eating in the dream will prolong the LD.</strong>
			</p>
			
			<hr>

			<h1>Where to Start</h1>
			<p> 
				It begins with a dream journal. Keeping a record of your dreams will help you improve recall. Keep a book within reach so you're always ready to write down your nightly travels. 
			</p>
		</div>
	</div>
