
<div id="frame-left">
	</div>

	<div id="frame-right">
		<div id="frametext-right">
			<h1>THIS IS TEXT</h1>
			<p> Ancient alien mainstream archaelogy targeted mutation cover up, ancient god sightings. The answer is a resounding YES... Evidence Nazca lines portal legendary times, cover up SETI weightless astronaut. Golden disk sun disc space time sun disc megoliths, ancient alien theorists elongated skull King Soloman vimana petroglyph, NASA Vymaanika-Shaastra inter-dimensional elongated skull technology. The answer is a resounding YES... </p>
			
			<hr>

			<h1>THIS IS TEXT</h1>
			<p> Ancient alien mainstream archaelogy targeted mutation cover up, ancient god sightings. The answer is a resounding YES... Evidence Nazca lines portal legendary times, cover up SETI weightless astronaut. Golden disk sun disc space time sun disc megoliths, ancient alien theorists elongated skull King Soloman vimana petroglyph, NASA Vymaanika-Shaastra inter-dimensional elongated skull technology. The answer is a resounding YES... </p>
			
			<hr>

			<h1>THIS IS TEXT</h1>
			<p> Ancient alien mainstream archaelogy targeted mutation cover up, ancient god sightings. The answer is a resounding YES... Evidence Nazca lines portal legendary times, cover up SETI weightless astronaut. Golden disk sun disc space time sun disc megoliths, ancient alien theorists elongated skull King Soloman vimana petroglyph, NASA Vymaanika-Shaastra inter-dimensional elongated skull technology. The answer is a resounding YES... </p>
			
		</div>
	</div>
	<a href="home">RETURN HOME</a>
