<!-- BIG IMAGE HEADER WITH TEXT AND NAVIGATION -->
<div id="header">
	<img src="imgs/peace.png">
	<h1>The Lucid Dreaming Experience</h1>
</div>

<br id="discover_header">


<!-- DEFINING SECTIONS -->

<!-- SECTION 1 // INFORMATION -->
<div class="section_1" >

	<!-- STYLES THE PARALLAX IMAGE / RIGHT SIDE -->
	<div class="inner">
	</div>
	
	<!-- STYLES THE PARALLAX IMAGE / LEFT SIDE -->
	<div class="inner_left">
	</div>

	<div class="title">
		<h1> Lucid Dreaming Is...</h1>
	</div>


	<div class="inner2">
		<div class="left_section">
			<p> 
			The phenomenon of becoming aware you're dreaming while in a dream
			</p>
		</div>

		<div class="right_section">
			<p>
			Explore other worlds
			<br>
			...and discover the exhilarating freedom to fly,
			<br>
			breathe underwater, 
			<br>
			or change into an animal.
			<br>
			<br>
			<em>A limitless waking life while you sleep.</em>
			</p>
		</div>

		<!-- THIS LINE HERE CREATES A VERTICAL LINE -->
		<div class="hr">
				&nbsp;
		</div>
	</div>

		<div class="center_button">
			<h2 class="button"><a href="discover">read more</a></h2>
		</div>
</div>

<!-- SECTION 2 // WHAT YOU CAN DO WITH LD -->
<div class="section_2">
	<div id="white_block">
		<div class="can_do">
			<hr>
			<p>	
				"We are the music makers,
				And we are the dreamers of dreams,
				Wandering by lone sea-breakers
				And sitting by desolate streams;—
				World-losers and world-forsakers,
				On whom the pale moon gleams:
				Yet we are the movers and shakers
				Of the world for ever, it seems." - Arthur William EdgarO'Shaughnessy
			</p>
		</div>
	</div>
</div>

<br id="our_work">

<!-- SECTION 3 // WHAT WE OFFER // OUR PRODUCT -->

<div class="section_3">

	<div class="title">
		<h1> How can we help you? </h1>
	</div>

	<div class="inner_3 left">
		<img src="imgs/space1.png">

	<div class="hr1">
		&nbsp;
	</div>
		<p>
		Our introduction to dreaming class features a talented dreamer teaching successful methods for achieving a lucid dream. Learn where to start, the possibilities, and gain access to a plethora of resources. <em>One class, 3hrs - $25</em>
		</p>
	</div>

	<div class="inner_3 right">
		<img id="img_right" src="imgs/space2.png">

		<div class="hr2">
				&nbsp;
		</div>
		
		<p>
			For the more adept dreamers, collaborate with the help of researchers to conduct dream experiments and have the results published in our daily newsletter. <em>One project, $75</em>
		</p>
	</div>

	<div class="inner_3 left">
		<img src="imgs/space3.png">

	<div class="hr1">
		&nbsp;
	</div>

		<p>
			For a truly unique adventure, explore the culture of dreams. This includes a guest speaker, a trip to a point of interest, and a class on the impact of lucid dreaming on society. <em>Full day, $175</em>
		</p>
	</div>
</div>

<div id="go-location">
	
		<h1>Get in Touch</h1>
		<hr>
		<br>
		<br>

		<div id="location_button">
			<h2><a href="location">Our Location</a></h2>
		</div>
	
</div>
	


