<div id="logo">
	<a href="home"><img src="imgs/logosleep2.png" width="160px"></a>
</div>

<div class="map-wrapper">

	<div id="map">

	</div>

	<div id="email-form">

		<div id="location-section">
			<h3>90 John St #404, New York, NY 10038</h3>
			<h3>Phone:(212) 571-7400</h3>
				<hr>
		</div>

		<form method="POST" action="/contact-us-post">
			<label for="name_input">Name</label>
			<input type="text" name="name_input">
			<label for="email_input">Email</label>
			<input type="text" name="email_input">
		<!-- message_body is the key and the text input is the value -->
			  <textarea name="message_body"></textarea>
			  <input type="submit">
		</form>

	</div>
</div>

<script src="https://maps.googleapis.com/maps/api/js"></script>


<script>

// GOOGLE MAPS API 
//EMBEDDED HERE BECAUSE IT WAS CAUSING CONFLICTS WHEN PLACED
//ALONG WITH THE PARALLAX IN THE MAIN.JS

function initialize() {

      var myLatLng = {lat: 40.7079436, lng: -74.0063315};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 18,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
}
      google.maps.event.addDomListener(window, 'load', initialize);

</script>



