/* ======================================= 
				GENERAL STYLING
=========================================*/
html {
	width: 100%;
}

body { 
	margin:0;
	top: 0; bottom: 0; left: 0; right: 0;
	overflow: scroll;
} 


h1 {
	font-family: 'Old Standard TT', 'Georgia', serif; 
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	letter-spacing: 2px;
}

p {
	font-family: 'Old Standard TT', 'Georgia', serif;
	font-size: 30px;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
}

/* ======================================= 
		HEADER STYLING AND POSITIONING
=========================================*/

#header {
	width: 100%;
	margin: 0px auto;
	text-align: center;
	position: relative;
	background-color: rgba(0,0,0,0);
	z-index: -1;
}

#header h1{
	position: absolute;
	width: 100%;
	top: 250px;
	color: rgba(0,0,0,0.5);
}

#header img{
	position: relative;
	width: 100%;
}

#logo {
	position: fixed;
	float: left;
	z-index: 999;
	margin-top: 10px;
	opacity: 0.9;
	margin-left: 20px;
}

/* ======================================= 
				SECTION 1
=========================================*/

.section_1 {        
	width: 100%;
	margin: 30px auto; 
}

.inner {
	background-image: url('imgs/dream1.png');
	background-size: 400px;
	background-repeat: no-repeat;
	background-position: center;
	width: 500px;
	height: 1500px;
	z-index: -1;
	position: absolute;
	margin: 0px 0px 0px 800px;
	padding-top: 200px;
}

.inner_left {
	background-image: url('imgs/dream2.png');
	background-size: 500px;
	background-repeat: no-repeat;
	width: 500px;
	height: 700px;
	z-index: 1;
	position: absolute;
	margin-top: 250px;
	margin-left: 100px;
}

.title{
	padding:20px;
	background-color: rgba(255,255,255,0);
	z-index: 99;
}


.left_section{
	width: 400px;
	float: left;
	clear: both;
	margin-bottom: 30px;
	margin-left: 200px;
}

.right_section{
	width: 400px;
	margin-right: 200px;
	float: right;
	clear: both;
	text-align: right;
}

.hr {
	height: 700px;
	width: 1px;
	background-color: #000;
	margin: 0 auto;
}

/* ======================================= 
			   BUTTON STYLING 
=========================================*/

.center_button {
	display: block;
	margin: -18px auto;
	margin-bottom: 0px;
	clear: both;
	width: 150px;
}

.button {
	width: 150px;
	border: 3px double #000;
	text-align: center;
	padding: 10px 5px;
	font-size: 20px;
	font-family: 'Old Standard TT', 'Georgia', serif;
	font-style: italic;
	font-weight: bold;
}

.center_button a {
	color: black
}

.center_button a:hover {
	color: salmon;
}


/* ======================================= 
				SECTION 2	
=========================================*/
.section_2 {
	height: 400px;
	margin-top: 60px;
	background-image: url('imgs/bed_blur.jpg');
	background-size: cover;
}

#white_block {
	background-color: rgba(255,255,255,0.6);
	position: absolute;
	height: 360px;
	width: 97%;
	margin: 20px;

}

.can_do {
	text-align: center;
	padding-top: 100px;
	display: block;
	width: 600px;
	margin: 0px auto;
}

.can_do p {
	font-size: 20px;
}

.can_do h1 {
	font-size: 30px;
	line-height: 20px;
}

.can_do hr {
	width: 200px;
	border: 1px solid #000;
}

/* ======================================= 
	   SECTION 3 STYLING AND PARALLAX
=========================================*/

.section_3 {
	width: 1000px;
	display: block;
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 200px;
	height: 600px;

}

.section_3 p {
	font-size: 15px;
	margin-top: 50px;
}

.inner_3 {
	width: 700px;
}

.inner_3 img {
	border-radius: 100%;
	width: 200px;
	height: 200px;
	display: block;
	float: left;
	margin-right: 60px;

}

#img_right {
	float: right;
	margin-left: 60px;
}

.right {
	float: right;
	clear: left;
	display: block;
	text-align: right;
}


.left {
	float: left;
}

.hr1 {
	width: 1px;
	height: 200px;
	background-color: black;
	margin-left: 230px;
	position: absolute;
}

.hr2 {
	width: 1px;
	height: 200px;
	background-color: black;
	float: right;
	margin-left: 410px;
	position: absolute;
}


/* ======================================= 
				   FIXED NAV
=========================================*/

#fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 50px;
  background-color: black;
  padding-left: 0px;
  padding-top:  12px;
  padding-bottom: 10px;
  opacity: 0.6;
  text-align: center;
  font-size: 15px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;

}

#fixed-nav ul li {
	font-family: 'Century Gothic', sans-serif;
	letter-spacing: 3px;
	list-style-type: none;
    display: inline-block;
    margin-left: 20px;
    padding-top: -20px;
    margin-top: 0px;
}

a {
	text-decoration: none;
	color: white;
}


#menu li:hover {
	background-color: #EBF5FF;
	color: black;
}


/* ======================================= 
		    MAP & LOCATION PAGE
=========================================*/


#map {
	height: 100%;
	width: 50%;
	display: inline-block;
}

#email-form {
	float: right;
	height: 500px;
	width: 300px;
	margin-top: 130px;
	margin-right: 200px;
}

#location-section {
	margin-top: 0px;
	margin-bottom: 50px;
}

#location-section h3{
	font-size: 15px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 20px;
	line-height: 12px;
}

#email-form hr{
	width: 200px;
	border: 1px dotted black;
}

form {
	font-family: 'Old Standard TT', 'Georgia', serif;
	font-size: 15px;
	text-align: center;
}

form input {
	text-align: center;
	margin: 20px auto;
	width: 300px;
}

form textarea{
	width: 300px;
	height: 200px;
}

input[type=text]{
		font-family: 'Old Standard TT', 'Georgia', serif;
		font-size: 12px;
}

textarea {
	font-family: 'Old Standard TT', 'Georgia', serif;
	font-size: 12px;
	text-align: center;
}

input[type=submit]{
	background-color: black;
	font-family: 'Old Standard TT', 'Georgia', serif;
	font-size: 12px;
	font-style: italic;
	color: white;
	width: 100px;
	border-radius: 20px;
	border: none !important;
}


/* ======================================= 
			   DISCOVER PAGE
=========================================*/
#frame-left {
	width: 50%;
	float: left;
	overflow: hidden;
}

#frame-right{
	/*float: right;*/
	margin-left: 25%;
	display: inline-block;
	width: 50%;
	border: none;
	background-color: black;

}

#frametext-right{
	color: white;
	width: 400px;
	margin: 100px auto;
}


#frametext-right p{
	font-size: 15px;
	text-align: justify;

}

#frametext-right h1{
	font-size: 20px;
	text-align: justify;
}

/* ======================================= 
			  LAST SECTION HOME
=========================================*/

#go-location {
	height: 500px;
	width: 100%;
	text-align: center;
	padding-top: 80px;
	background-image: url('imgs/pines.png');
	background-size: cover;
}
#go-location hr {
	width: 300px;
	border: 1px solid black;
}

#location_button {
	display: block;
	margin: -18px auto;
	margin-bottom: 0px;
	clear: both;
	width: 150px;
	border: 3px double #000;


}

#location_button h2 a{
	color: black;
	text-align: center;
	padding: 10px 5px;
	font-size: 20px;
	font-family: 'Old Standard TT', 'Georgia', serif;
	font-style: italic;
	font-weight: bold;
}

#location_button a:hover{
	color: salmon;	
}


/* ======================================= 
			   FOOTER SECTION
=========================================*/

/*#footer {
	clear: both;
	width: 100%;
	height: 200px;
	background-color: rgba(0,0,0,0.7);
	bottom: 0;
	position: relative;
	margin-top: 200px;
}*/

















